name: compat-check

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  compatibility:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - name: Run tests
        shell: bash
        run: |
          set -euo pipefail
          npm test
